.rg .stroke-0, .rg .stroke-8, .rg .stroke-16, .rg .stroke-24
{
    border-color: #1776B6; stroke: #1776B6;
}

.rg .fill-0, .rg .fill-8, .rg .fill-16, .rg .fill-24
{
    background-color: #1776B6; fill: #1776B6;
}

.rg .color-0, .rg .color-8, .rg .color-16, .rg .color-24
{
    color: #1776B6; fill: #1776B6;
}

.rg .stroke-1, .rg .stroke-9, .rg .stroke-17, .rg .stroke-25
{
    border-color: #78ACD6; stroke: #78ACD6;
}

.rg .fill-1, .rg .fill-9, .rg .fill-17, .rg .fill-25
{
    background-color: #78ACD6; fill: #78ACD6;
}

.rg .color-1, .rg .color-9, .rg .color-17, .rg .color-25
{
    color: #78ACD6; fill: #78ACD6;
}

.rg .stroke-2, .rg .stroke-10, .rg .stroke-18, .rg .stroke-26
{
    border-color: #FF7F00; stroke: #FF7F00;
}

.rg .fill-2, .rg .fill-10, .rg .fill-18, .rg .fill-26
{
    background-color: #FF7F00; fill: #FF7F00;
}

.rg .color-2, .rg .color-10, .rg .color-18, .rg .color-26
{
    color: #FF7F00; fill: #FF7F00;
}

.rg .stroke-3, .rg .stroke-11, .rg .stroke-19, .rg .stroke-27
{
    border-color: #FFCBAA; stroke: #FFCBAA;
}

.rg .fill-3, .rg .fill-11, .rg .fill-19, .rg .fill-27
{
    background-color: #FFCBAA; fill: #FFCBAA;
}

.rg .color-3, .rg .color-11, .rg .color-19, .rg .color-27
{
    color: #FFCBAA; fill: #FFCBAA;
}

.rg .stroke-4, .rg .stroke-12, .rg .stroke-20, .rg .stroke-28
{
    border-color: #2CA02C; stroke: #2CA02C;
}

.rg .fill-4, .rg .fill-12, .rg .fill-20, .rg .fill-28
{
    background-color: #2CA02C; fill: #2CA02C;
}

.rg .color-4, .rg .color-12, .rg .color-20, .rg .color-28
{
    color: #2CA02C; fill: #2CA02C;
}

.rg .stroke-5, .rg .stroke-13, .rg .stroke-21, .rg .stroke-29
{
    border-color: #ACD9A5; stroke: #ACD9A5;
}

.rg .fill-5, .rg .fill-13, .rg .fill-21, .rg .fill-29
{
    background-color: #ACD9A5; fill: #ACD9A5;
}

.rg .color-5, .rg .color-13, .rg .color-21, .rg .color-29
{
    color: #ACD9A5; fill: #ACD9A5;
}

.rg .stroke-6, .rg .stroke-14, .rg .stroke-22, .rg .stroke-30
{
    border-color: #D62728; stroke: #D62728;
}

.rg .fill-6, .rg .fill-14, .rg .fill-22, .rg .fill-30
{
    background-color: #D62728; fill: #D62728;
}

.rg .color-6, .rg .color-14, .rg .color-22, .rg .color-30
{
    color: #D62728; fill: #D62728;
}

.rg .stroke-7, .rg .stroke-15, .rg .stroke-23, .rg .stroke-31
{
    border-color: #EEAAA8; stroke: #EEAAA8;
}

.rg .fill-7, .rg .fill-15, .rg .fill-23, .rg .fill-31
{
    background-color: #EEAAA8; fill: #EEAAA8;
}

.rg .color-7, .rg .color-15, .rg .color-23, .rg .color-31
{
    color: #EEAAA8; fill: #EEAAA8;
}
