target/
.*.marks
.classpath
.project
.settings
.history
ingest.*.log
tags
blueeyes
client-libraries
scalaz
.idea*/
.ensime
quirrel/examples
hs_err_pid*log
*~
*.hprof
*.swp
*.out
.DS_Store
tools/lib/*
yggdrasil/data
/TAGS
/standaloneArtifacts
*.jps
jprofiler.db
jprofiler.jnilib
.cache
/mongo/proguard.log
/mongo/precog*.zip
/mongo/precog/
/jdbc/proguard.log
/jdbc/precog*.zip
/jdbc/precog/
.tag
/personal
shard.out
dist/
