Alissa Pajer <alissa@precog.com> <alissa.pajer@gmail.com>
Alissa Pajer <alissa@precog.com> <alissa@reportgrid.com>
Brian McKenna <brian@precog.com> <brian@brianmckenna.org>
Brian McKenna <brian@precog.com> <brian@reportgrid.com>
Daniel Spiewak <daniel@precog.com> <daniel@reportgrid.com>
Daniel Spiewak <daniel@precog.com> <djspiewak@gmail.com>
Derek Chen-Becker <derek@precog.com> <derek@reportgrid.com>
Derek Chen-Becker <derek@precog.com> <github@chen-becker.org>
Erik Osheim <erik@precog.com> <d_m@plastic-idolatry.com>
John A. De Goes <john@precog.com> <john@degoes.net>
Kris Nuttycombe <kris@precog.com> <kris.nuttycombe@gmail.com>
Kris Nuttycombe <kris@precog.com> <kris@hylotech.com>
Kris Nuttycombe <kris@precog.com> <kris@reportgrid.com>
Miles Sabin <miles@precog.com> <miles@milessabin.com>
Miles Sabin <miles@precog.com> <miles@reportgrid.com>
Nathan Lubchenco <nathan@precog.com> <nathanlubchenco@Nathans-MacBook-Air.local>
Nick Matheson <nick@precog.com> <nick@reportgrid.com>
Tom Bowles <tom@precog.com> <tom@reportgrid.com>
Tom Switzer <switzer@precog.com> <switzer@reportgrid.com>
Tom Switzer <switzer@precog.com> <thomas.switzer@gmail.com>