
.slick-header.ui-state-default, .slick-headerrow.ui-state-default {
  width: 100%;
  overflow: hidden;
  border-left: 0px;
}
.slick-header-columns, .slick-headerrow-columns {
  position: relative;
  white-space: nowrap;
  cursor: default;
  overflow: hidden;
}
.slick-header-column.ui-state-default {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 16px;
  line-height: 16px;
  margin: 0;
  padding: 4px;
  border-right: 1px solid silver;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  float: left;
}
.slick-headerrow-column.ui-state-default {
  padding: 4px;
}
.slick-header-column-sorted {
  font-style: italic;
}
.slick-sort-indicator {
  display: inline-block;
  width: 8px;
  height: 5px;
  margin-left: 4px;
}
.slick-sort-indicator-desc {
  background: url(jquery/slickgrid/images/sort-desc.gif);
}
.slick-sort-indicator-asc {
  background: url(jquery/slickgrid/images/sort-asc.gif);
}
.slick-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  cursor: col-resize;
  width: 4px;
  right: 0px;
  top: 0;
  height: 100%;
}
.slick-sortable-placeholder {
  background: silver;
}
.grid-canvas {
  position: relative;
  outline: 0;
}
.slick-row.ui-widget-content, .slick-row.ui-state-active {
  position: absolute;
  border: 0px;
  width: 100%;
}
.slick-cell, .slick-headerrow-column {
  position: absolute;
  border: 1px solid transparent;
  border-right: 1px dotted silver;
  border-bottom-color: silver;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  z-index: 1;
  padding: 1px 2px 2px 1px;
  margin: 0;
  white-space: nowrap;
  cursor: default;
}
.slick-group {
}
.slick-group-toggle {
  display: inline-block;
}
.slick-cell.highlighted {
  background: lightskyblue;
  background: rgba(0, 0, 255, 0.2);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.slick-cell.flashing {
  border: 1px solid red !important;
}
.slick-cell.editable {
  z-index: 11;
  overflow: visible;
  background: white;
  border-color: black;
  border-style: solid;
}
.slick-cell:focus {
  outline: none;
}
.slick-reorder-proxy {
  display: inline-block;
  background: blue;
  opacity: 0.15;
  filter: alpha(opacity = 15);
  cursor: move;
}
.slick-reorder-guide {
  display: inline-block;
  height: 2px;
  background: blue;
  opacity: 0.7;
  filter: alpha(opacity = 70);
}
.slick-selection {
  z-index: 10;
  position: absolute;
  border: 2px dashed black;
}
.slick-columnpicker {
  border: 1px solid #718BB7;
  background: #f0f0f0;
  padding: 6px;
  -moz-box-shadow: 2px 2px 2px silver;
  -webkit-box-shadow: 2px 2px 2px silver;
  min-width: 100px;
  cursor: default;
}
.slick-columnpicker li {
  list-style: none;
  margin: 0;
  padding: 0;
  background: none;
}
.slick-columnpicker input {
  margin: 4px;
}
.slick-columnpicker li a {
  display: block;
  padding: 4px;
  font-weight: bold;
}
.slick-columnpicker li a:hover {
  background: white;
}
.slick-pager {
  width: 100%;
  height: 26px;
  border: 1px solid gray;
  border-top: 0;
  background: url(jquery/images/header-columns-bg.gif) repeat-x center bottom;
  vertical-align: middle;
}
.slick-pager .slick-pager-status {
  display: inline-block;
  padding: 6px;
}
.slick-pager .ui-icon-container {
  display: inline-block;
  margin: 2px;
  border-color: gray;
}
.slick-pager .slick-pager-nav {
  display: inline-block;
  float: left;
  padding: 2px;
}
.slick-pager .slick-pager-settings {
  display: block;
  float: right;
  padding: 2px;
}
.slick-pager .slick-pager-settings * {
  vertical-align: middle;
}
.slick-pager .slick-pager-settings a {
  padding: 2px;
  text-decoration: underline;
  cursor: pointer;
}
.ui-pnotify {
	top: 18px;
	right: 18px;
	position: absolute;
	height: auto;
	
	z-index: 9999;
}
html > body .ui-pnotify {
	position: fixed;
}
.ui-pnotify .ui-pnotify-shadow {
	margin: 0;
	position: absolute;
	top: .1em;
	left: .1em;
	bottom: -.2em;
	right: -.2em;
	z-index: -1;
}
.ui-pnotify-container {
	background-position: 0 0;
	padding: .8em;
	height: 100%;
}
.ui-pnotify-closer, .ui-pnotify-sticker {
	float: right;
	margin-left: .2em;
}
.ui-pnotify-title {
	display: block;
	font-size: 1.2em;
	line-height: 1;
	font-weight: bold;
	margin-bottom: .4em;
}
.ui-pnotify-text {
	display: block;
}
.ui-pnotify-icon, .ui-pnotify-icon span {
	display: block;
	float: left;
	margin-right: .2em;
}
.ui-pnotify-history-container {
	position: absolute;
	top: 0;
	right: 18px;
	width: 70px;
	border-top: none;
	
	z-index: 10000;
}
.ui-pnotify-history-container .ui-pnotify-history-header {
	padding: 2px;
}
.ui-pnotify-history-container button {
	cursor: pointer;
	display: block;
	width: 100%;
}
.ui-pnotify-history-container .ui-pnotify-history-pulldown {
	display: block;
	margin: 0 auto;
}
.pg-labcoat, .pg-el, .pg-el.ui-widget, .ui-pnotify, .ui-pnotify-history-container {
    font-size: 73%;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}
.ui-pnotify-history-container {
    right: 50% !important;
}
.ui-pnotify .ui-state-error {
    padding: 8px;
}
.pg-pane {
}
.ui-layout-resizer-east, .ui-layout-resizer-west {
    border:0 !important;
}
.ui-layout-resizer-north, .ui-layout-resizer-south {
    border:0 !important;
}
.pg-system, .pg-main, .pg-editor-support, .pg-editor,
.pg-io, .pg-input, .pg-output, .pg-folders, .pg-queries,
.slick-header
{
    border:0 !important;
}
.pg-statusbar {
}
.pg-labcoat .ui-widget-header {
    line-height: 17px;
}
.pg-toolbar {
    border-top: 0 !important;
    border-bottom: 0 !important;
    vertical-align: baseline !important;
}
.pg-toolbar-actions, .pg-toolbar-context {
    margin: 5px;
    line-height: 24px;
}
.pg-toolbar-context .pg-toolbar-result-type {
    line-height: 16px;
}
.pg-statusbar .pg-toolbar-context {
    margin: 0 5px 0 0;
}
.pg-folders .pg-toolbar-description,
.pg-folders .pg-toolbar-actions,
.pg-queries .pg-toolbar-description,
.pg-queries .pg-toolbar-actions
{
    margin: 5px;
    line-height: 12px;
}
.pg-folders .pg-toolbar-context,
.pg-queries .pg-toolbar-context
{
    margin-top: 0px;
    float:right;
}
.pg-folders .pg-toolbar-actions,
.pg-queries .pg-toolbar-actions
{
    float: left;
    margin-top: 0;
}
.pg-folders .pg-toolbar-context,
.pg-queries .pg-toolbar-context
{
    position: relative;
}
.pg-folders .pg-toolbar-context .pg-toolbar-result-type,
.pg-queries .pg-toolbar-context .pg-toolbar-result-type
{
    line-height: 16px;
}
.pg-folders pg-folders .pg-statusbar .pg-toolbar-context,
.pg-queries pg-folders .pg-statusbar .pg-toolbar-context
{
    margin: 0 5px 0 0;
}
.ui-layout-resizer-dragging {
}
.pg-mainbar .pg-toolbar-actions, .pg-mainbar .pg-toolbar-context {
    position: absolute;
    line-height: 36px;
}
.pg-mainbar {
    height: 38px;
}
.pg-mainbar .pg-toolbar-actions {
}
.pg-statusbar .pg-toolbar-actions {
    font-weight: normal;
    font-size: 93%;
}
.pg-statusbar .ui-button.ui-widget.pg-editor-settings-trigger {
    background: transparent;
    font-size: 100%;
    border: none;
}
.pg-statusbar .pg-toolbar-context .pg-container {
    display: inline-block;
}
.pg-statusbar .pg-toolbar-context .pg-container.pg-progressbar {
    margin: 2px 0 0 0;
    width: 200px;
    height: 18px;
}
.pg-labcoat .pg-position {
    text-decoration: underline;
    cursor: pointer;
}
.ui-widget-content.pg-support {
    border-top: 0;
}
.pg-labcoat .pg-support-tabs.ui-tabs .ui-tabs-nav {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 22px;
    padding: 7px;
    border-bottom-width: 1px;
}
.pg-labcoat .pg-support-tabs .ui-tabs-panel {
    clear: left;
}
.pg-statusbar .ui-progressbar-value {
    background-image: url(images/progress-background.png);
    animation: progressbg 1s linear infinite;
    
    -moz-animation: progressbg 1s linear infinite;
    
    -webkit-animation: progressbg 1s linear infinite;
}
.pg-editor-tabs.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    background-image: none;
}
.pg-execution-time, .slick-pager {
    font-weight: normal;
}
.pg-editor-tabs.ui-tabs {
    border: 0;
    margin-top: 2px;
    margin-left: 3px;
    background-color: transparent;
    background-image: none;
 }
.pg-output-formats .ui-buttonset .ui-button {
    font-size: 95%;
    margin-right: -.35em;
}
.pg-editor-tabs .ui-icon.ui-icon-close {
    display: inline-block;
}
.pg-toolbar-actions button, .pg-toolbar-context button {
    height: 24px;
}
.pg-toolbar-context {
    position: absolute;
    right: 0;
    top: 0;
}
.pg-toolbar-context.pg-stacked-context > div {
    float:left;
}
.pg-statusbar .pg-toolbar-actions {
    margin: 0;
}
.pg-output .pg-toolbar-context .slick-pager {
    border: 0;
    background: transparent;
}
.pg-output-formats  {
}
.pg-result .ui-state-error, .pg-result .ui-state-highlight, .pg-queries .pg-queries .ui-state-highlight {
    padding: 0.7em;
}
.pg-result .ui-state-error p, .pg-result .ui-state-highlight p, .pg-queries .pg-queries .ui-state-highlight p {
    padding: 0;
    margin: 0;
}
.pg-result .ui-widget pre {
    font-family: monospace;
    white-space: pre;
    margin: 0;
    padding: 0;
}
.pg-result .ui-widget pre.json {
    font-size: 115%;
}
.pg-result .ui-widget {
    overflow: auto;
}
.pg-result .ui-widget .ui-content {
    margin: 0.5em;
}
.pg-logo {
    background-repeat: no-repeat;
    width: 400px;
    height: 21px;
    margin-top: 4px;
    marign-left: 4px;
    float: left;
}
.pg-precog {
    background-image: url(images/logo-precog-black.svg);
}
.pg-gridgain {
    background-image: url(images/logo-gridgain-black.svg);
}
.pg-labcoat .ui-layout-toggler {
    border: 0;
}
.pg-labcoat .ui-layout-resizer {
    border-radius: 0;
}
.pg-el.ui-widget .pg-export textarea {
    resize: none;
    font-family: monospace;
    font-size: 13px;
    line-height: 16px;
    width: 799px;
    height: 324px;
    margin-top: 4px;
    padding: 0;
    border: 0;
}
.pg-el.ui-widget .pg-export textarea:focus {
    outline: 0;
}
.ui-dialog .ui-dialog-content.pg-dialog-export {
    overflow: hidden;
}
.ui-dialog .captcha {
    text-align: center;
}
.ui-dialog .captcha p {
    margin: 1em;
}
.ui-dialog .captcha .ui-widget {
    margin-top: 1em;
}
.pg-el.ui-widget .pg-dialog-export .pg-toolbar.pg-actions,
.pg-el.ui-widget .pg-dialog-export .pg-toolbar.pg-options
{
    text-align: center;
}
.pg-el.ui-widget .pg-dialog-export .pg-toolbar.pg-options
{
    margin-top: 4px;
}
.pg-folders .pg-tree {
    overflow : auto;
}
.pg-queries .pg-tree {
    overflow : visible;
}
.pg-structure.jstree.jstree-default {
    background-color: transparent;
}
.pg-structure ins.jstree-themeicon {
}
.pg-dialog-lineinput .pg-error,
.pg-dialog-lineinput .pg-message {
    margin: 10px 0;
    padding: 8px;
    overflow: auto;
}
.pg-dialog-lineinput input[type="text"] {
    width: 295px;
}
.pg-ingest-phase, .pg-ingest-message {
    text-align: center;
}
.pg-ingest-phase {
    font-weight: bold;
}
.pg-queries .pg-queries {
    padding: 2px 2px 2px 2px;
    overflow: auto;
}
.pg-queries .pg-queries ul {
    margin: 0;
    padding: 0;
}
.pg-queries .pg-queries ul .ui-button {
    display: block;
    text-align: left;
    margin: 0 0 2px 0;
}
.pg-queries .pg-queries ul .ui-button-text {
    padding: .2em 0.5em .2em 2.1em;
}
.pg-result .ui-state-error p {
    margin-bottom: 6px;
}
.pg-result .ui-state-error .error-container {
    margin-top: 12px;
}
.pg-result .ui-state-error .error-container:first-child {
    margin-top: 0px;
}
.pg-result .ui-state-error pre {
    font-size: 120%;
}
.ui-pnotify > .ui-widget.ui-pnotify-shadow {
    position: relative;
}
.ui-pnotify h4, .ui-pnotify h5, .ui-pnotify h6 {
    margin: 0;
    margin-bottom: 4px;
}
.ui-pnotify .pg-actions {
    position: absolute;
    bottom: 3px;
    right: 4px;
}
.ui-pnotify .pg-actions label {
    font-size: 83%;
    font-style: italic;
}
.ui-pnotify .pg-actions input[type="checkbox"] {
    margin: 0 6px;
}
.ui-pnotify .pg-textarea {
    margin: 8px 4px 0 0;
}
.ui-pnotify .pg-textarea textarea {
    resize: none;
    font-family: monospace;
    font-size: 13px;
    outline: 0;
    width: 100%;
    height: 7.4em;
}
.ui-pnotify .pg-footer {
    font-size: 83%;
    font-style: italic;
    text-align: right;
}
.ui-pnotify .pg-history {
    max-height: 420px;
    overflow: auto;
    padding-right: 4px;
}
.ui-pnotify .pg-history ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.ui-pnotify .pg-history-item {
    padding: 4px 8px 6px;
    position: relative;
}
.ui-pnotify .pg-history ul li {
    margin-bottom: 4px;
}
.ui-pnotify .pg-history ul li:last-child {
    margin-bottom: 0;
}
.ui-pnotify .pg-history pre {
    white-space: pre;
    margin: 0;
    padding: 0;
    font-size: 130%;
    float:left;
}
.ui-pnotify .pg-history .pg-header {
    font-weight: bold;
    font-size: 83%;
    float: left;
    width: 6em;
    clear: left;
}
.ui-pnotify .pg-history .pg-info {
    font-style: italic;
    font-size: 83%;
    padding-top: 8px;
    clear: left;
}
.ui-pnotify .pg-clear, .pg-labcoat .pg-clear {
    clear: both;
}
.ui-pnotify .pg-history .pg-toolbar {
    position: absolute;
    right: 3px;
    bottom: 2px;
}
.ui-pnotify span.pg-label {
    display: block;
    float: left;
    width: 100px;
}
.ui-pnotify .pg-selection input[type="number"] {
    width: 5em;
}
.ui-pnotify .pg-selection.ui-content {
    margin-bottom: 4px;
    width: 240px;
    line-height: 2em;
    padding: 0 0.2em;
}
.ui-pnotify .pg-selection.ui-content select {
    width: 138px;
}
.ui-pnotify .pg-selection.ui-content:last-child {
    margin-bottom: 0;
}
.pg-chart-logo {
    text-align: center;
}
.pg-labcoat .ui-widget.ui-content.pg-overflow-hidden {
    overflow: hidden;
}
.pg-labcoat .pg-toolbar-result-type button {
    display: block;
    float: right;
}
.pg-labcoat .pg-current-options {
    font-weight: normal;
    margin-right: 0.5em;
    font-size: 93%;
    line-height: 1.2em;
    text-align: right;
    display: inline-block;
}
.pg-labcoat .pg-toolbar-context .pg-toolbar-result-type button {
    padding: 0;
}
.pg-labcoat .pg-table .ui-state-default {
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}
.pg-labcoat .jstree .pg-tree-leaf {
    background-position:0 0;
    background-image: url(images/file.png);
}
.ui-pnotify .pg-easter {
    text-align: center;
    font-size: 120%;
    font-style: italic;
    padding: 40px 0;
}
.ui-pnotify .ui-state-error ul.errors {
    padding: 0;
    margin: 0;
}
.ui-pnotify .ui-state-error ul.errors li {
    padding: 0;
    margin: 0;
    list-style-position:inside;
}
.ui-menu .ui-menu-item.menu-separator {
    height: 2px;
    border: 0;
}
dl.labcoat-url-generator {
}
dl.labcoat-url-generator dt {
    float: left;
    display: block;
    width: 100px;
    margin-top: 0.6em;
    padding-left: 10px;
}
dl.labcoat-url-generator dd {
    clear: right;
    padding-left: 120px;
    margin: 0 0 5px 0;
}
dl.labcoat-url-generator input.url {
    width: 20em;
}
dl.labcoat-url-generator input.path {
    width: 10em;
}
dl.labcoat-url-generator input.int {
    width: 5em;
}
dl.labcoat-url-generator input.api-key {
    width: 25em;
}
dl.labcoat-url-generator dt.full-line {
    padding: 0;
}
dl.labcoat-url-generator dd.full-line {
    clear: both;
    padding: 4px;
    overflow: auto;
}
dl.labcoat-url-generator .input-error {
    padding: 4px 8px;
    margin: 2px 2px 2px 0;
}
dl.labcoat-url-generator dt.header {
    width: inherit;
    float: none;
    margin: 12px 0 2px;
    padding: 0;
    font-weight: bold;
}
@keyframes progressbg
{
    0%   {background-position: 0 0;}
    100% {background-position: 20px 0;}
}
@-moz-keyframes progressbg 
{
    0%   {background-position: 0 0;}
    100% {background-position: 20px 0;}
}
@-webkit-keyframes progressbg 
{
    0%   {background-position: 0 0;}
    100% {background-position: 20px 0;}
}