* {
    font-family: "Tahoe", sans-serif;
    font-size: 12px;
}
h1 {
    font-size: 120%;
    text-align: center;
    background-color: #eee;
    padding: 5px 0;
}
.section {
    border-bottom: 1px solid #eee;
    padding: 4px 0;
    line-height: 22px;
}
.section label {
    width: 110px;
    display: block;
    float: left;
    color: #999;
}
.section input[type="text"] {
    width: 25em;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 2px 8px;
}
.main {
    width: 720px;
    margin: 0 auto;
}
.input-error {
    display: none;
    border: 1px solid #992222;
    background-color: #aa3333;
    color: #fff;
    padding: 0 2px 0 8px;
    margin-top: 4px;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 93%;
}
#labcoatUrl {
    width: 540px;
}
#apiKey {
    width: 21em;
}
#gotoLabcoat {
    display: none;
}